<div class="card" style="width: 16rem;">
  <img class="card-img-top" src="restaurant/{{item.image}}" alt="Card image cap">
  <div class="card-body">
    <h3 class="card-title" style="font-weight: bold;">{{item.id}} {{item.name}}</h3>
    <p class="card-text">Menu: <span style="color: red;">{{item.menu}}</span>
      <br>
      Current price: {{item.currentPrice}} RSD
      <br>
      Cost: {{item.cost}} RSD
      <br>
      Item type: {{item.itemType}}
    </p>
  </div>
  <div style="margin-bottom: 20px; margin-left: 20px;">
    <button style="margin-right: 110px;" mat-mini-fab color="basic"
      aria-label="Example icon button with a plus one icon" (click)="openPriceDialog()">
      <mat-icon>attach_money</mat-icon>
    </button>
    <button *ngIf="selectedName === 'Nedefinisan'" mat-fab color="primary"
      aria-label="Example icon button with a delete icon" (click)="addItemToMenu()">
      <mat-icon>library_add</mat-icon>
    </button>
    <button *ngIf="selectedName !== 'Nedefinisan'" mat-fab color="warn"
      aria-label="Example icon button with a home icon" (click)="removeItemFromMenu()">
      <mat-icon>delete</mat-icon>
    </button>
  </div>
</div>