.my_margin {
    margin: 10px 0px 10px 0px;
}

.reactiveFormDiv {
    margin-top: 10px;
}

.food-creation-label {
    font-size: 50px;
    font-variant: small-caps;
}

table, th, td {
    border:1px solid black;
}

th, td {
    text-align: center;
}