<h1 mat-dialog-title style="text-align: center;">{{title}}</h1>
<div mat-dialog-content>
    <p>{{header}}</p>
    <mat-form-field appearance="fill">
      <mat-label>{{label}}</mat-label>
      <input id='item-prices-input' matInput type="number" [(ngModel)]="value">
    </mat-form-field>
    <button id='item-prices-create' mat-stroked-button color="warn" style="margin-left: 40px;" (click)="createNewPrice()">Add</button>
    <button id='item-prices-cancel' mat-stroked-button color="warn" style="margin-left: 20px;" (click)="onNoClick()">Cancel</button>
</div>
<div>
    <p *ngFor="let line of content">{{line}}</p>
</div>