<h1 mat-dialog-title>Active menus</h1>
<div mat-dialog-content>
  <p>Choose menu</p>
  <mat-form-field appearance="fill" style="margin-left: 15px;">
    <mat-label>Menus names</mat-label>
    <mat-select [(ngModel)]="menuItemDTO.menuName" ngModel>
      <mat-option *ngFor="let menu of menus" [value]="menu.name">
        {{menu.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="dialogRef.close(false)">Cancel</button>
  <button mat-button (click)="check()">Add</button>
</div>