<div class="row">
    <h1 style="text-align: center">User information</h1>
</div>
<div class="row justify-content-center align-items-center">
    <div class="col align-items-center justify-content-center">
        <img *ngIf="previewImg" [src]="previewImg" height="150px" width="150px"
            style="display: block;margin-left: auto;margin-right: auto;">
        <img *ngIf="!previewImg" src="restaurant/{{user.profilePhoto}}" class="rounded" width="150" height="150"
            style="display: block;margin-left: auto;margin-right: auto;"
            onerror="this.src='restaurant/user_profile_photos/test/default.jpg'">
    </div>
</div>

<div class="row justify-content-center align-items-center">
    <div class="col justify-content-center align-items-center">
        <div class="col d-flex justify-content-center">
            <button mat-flat-button color="primary" (click)="imgInput.click()" class="m-3">Change profile photo</button>
        </div>

        <input #imgInput hidden="true" type="file" id="fileInput" name="fileInput" accept="image/*"
            onclick="this.value = null" (change)="selectImage($event)" />
    </div>
</div>
<form class="row align-items-center justify-content-center" [formGroup]="updateUserFormGroup">

    <div class="row d-flex justify-content-center">
        <mat-form-field class="example-form-field m-2" appearance="fill" style="width: 45%;">
            <mat-label>First name</mat-label>
            <input matInput type="text" formControlName="firstName">
            <button *ngIf="updateUserFormGroup.controls['firstName'].value" matSuffix mat-icon-button aria-label="Clear"
                (click)="updateUserFormGroup.controls['firstName'].setValue('')">
                <mat-icon>close</mat-icon>
            </button>
            <mat-error *ngIf="
                updateUserFormGroup.controls['firstName'].touched &&
                updateUserFormGroup.controls['firstName'].errors?.['required']
                ">
                First name is required
            </mat-error>
            <mat-hint>Editable</mat-hint>
        </mat-form-field>

        <mat-form-field class="example-form-field  m-2" appearance="fill" style="width: 45%;">
            <mat-label>Last name</mat-label>
            <input matInput type="text" formControlName="lastName">
            <button *ngIf="updateUserFormGroup.controls['lastName'].value" matSuffix mat-icon-button aria-label="Clear"
                (click)="updateUserFormGroup.controls['lastName'].setValue('')">
                <mat-icon>close</mat-icon>
            </button>
            <mat-error *ngIf="
                updateUserFormGroup.controls['lastName'].touched &&
                updateUserFormGroup.controls['lastName'].errors?.['required']
                ">
                Last name is required
            </mat-error>
            <mat-hint>Editable</mat-hint>
        </mat-form-field>

    </div>

    <div class="row d-flex justify-content-center">
        <mat-form-field class="example-form-field  m-2" appearance="fill" style="width: 45%;">
            <mat-label>Address</mat-label>
            <input matInput type="text" formControlName="address">
            <button *ngIf="updateUserFormGroup.controls['address'].value" matSuffix mat-icon-button aria-label="Clear"
                (click)="updateUserFormGroup.controls['address'].setValue('')">
                <mat-icon>close</mat-icon>
            </button>
            <mat-error *ngIf="
                updateUserFormGroup.controls['address'].touched &&
                updateUserFormGroup.controls['address'].errors?.['required']
                ">
                Address is required
            </mat-error>
            <mat-hint>Editable</mat-hint>
        </mat-form-field>

        <mat-form-field class="example-form-field  m-2" appearance="fill" style="width: 45%;">
            <mat-label>Telephone</mat-label>
            <input matInput type="text" formControlName="telephone">
            <button *ngIf="updateUserFormGroup.controls['telephone'].value" matSuffix mat-icon-button aria-label="Clear"
                (click)="updateUserFormGroup.controls['telephone'].setValue('')">
                <mat-icon>close</mat-icon>
            </button>
            <mat-error *ngIf="
                updateUserFormGroup.controls['telephone'].touched &&
                updateUserFormGroup.controls['telephone'].errors?.['required']
                ">
                Telephone is required
            </mat-error>
            <mat-error *ngIf="
                updateUserFormGroup.controls['telephone'].touched &&
                updateUserFormGroup.controls['telephone'].errors?.['minlength']
                ">
                Telephone has to have at least 5 digits
            </mat-error>
            <mat-error *ngIf="
                updateUserFormGroup.controls['telephone'].touched &&
                updateUserFormGroup.controls['telephone'].errors?.['maxlength']
                ">
                Telephone can have max 12 digits
            </mat-error>
            <mat-error *ngIf="
                updateUserFormGroup.controls['telephone'].touched &&
                updateUserFormGroup.controls['telephone'].errors?.['telephone']
                ">
                Telephone can have only digits
            </mat-error>
            <mat-hint>Editable</mat-hint>
        </mat-form-field>
    </div>

    <div class="row d-flex justify-content-center">
        <mat-form-field class="example-form-field m-2" appearance="fill" style="width: 45%;">
            <mat-label>Email</mat-label>
            <input matInput type="text" formControlName="email" readonly>
        </mat-form-field>

        <mat-form-field class="example-form-field  m-2" appearance="fill" style="width: 45%;">
            <mat-label>Gender</mat-label>
            <input matInput type="text" formControlName="gender" readonly>
        </mat-form-field>
    </div>

    <div class="row d-flex justify-content-center">
        <mat-form-field class="example-form-field  m-2" appearance="fill" style="width: 45%;">
            <mat-label>User type</mat-label>
            <input matInput type="text" formControlName="userType" readonly>
        </mat-form-field>

        <mat-form-field *ngIf="isAdmin" class="example-form-field  m-2" appearance="fill" style="width: 45%;">
            <mat-label>User status</mat-label>
            <input matInput type="text" formControlName="status" readonly>
        </mat-form-field>

        <mat-form-field *ngIf="isWorker" class="example-form-field  m-2" appearance="fill" style="width: 45%;">
            <mat-label>Salary</mat-label>
            <input matInput type="text" formControlName="salary" readonly>
        </mat-form-field>
    </div>

    <div class="row d-flex justify-content-center">
        <div class="col d-flex justify-content-center">
            <button mat-flat-button color="primary" class="m-3" style="width: 30%;" (click)="saveChanges()">Save
                changes</button>
            <button *ngIf="!isAdmin" mat-flat-button color="primary" class="m-3" style="width: 30%;"
                (click)="changePassword()">Change password </button>
        </div>
    </div>

    <mat-progress-spinner *ngIf="loadVisible" class="example-margin" mode="indeterminate">
    </mat-progress-spinner>
</form>