<div class="row">
    <h1 style="text-align: center">Change password</h1>
</div>
<form class="row align-items-center justify-content-center" [formGroup]="changePasswordFormGroup">

    <div class="row d-flex justify-content-center">
        <mat-form-field class="example-form-field m-2" appearance="fill" style="width: 70%;">
            <mat-label>Old password</mat-label>
            <input matInput type="password" formControlName="oldPassword" id="oldPwInput">
            <button *ngIf="changePasswordFormGroup.controls['oldPassword'].value" matSuffix mat-icon-button
                aria-label="Clear" (click)="changePasswordFormGroup.controls['oldPassword'].setValue('')">
                <mat-icon>close</mat-icon>
            </button>
            <mat-error *ngIf="
                changePasswordFormGroup.controls['oldPassword'].touched &&
                changePasswordFormGroup.controls['oldPassword'].errors?.['required']
                ">
                Old password can't be empty
            </mat-error>
        </mat-form-field>
    </div>

    <div class="row d-flex justify-content-center">
        <mat-form-field class="example-form-field  m-2" appearance="fill" style="width: 70%;">
            <mat-label>New password</mat-label>
            <input matInput type="password" formControlName="newPassword" id="newPwInput">
            <button *ngIf="changePasswordFormGroup.controls['newPassword'].value" matSuffix mat-icon-button
                aria-label="Clear" (click)="changePasswordFormGroup.controls['newPassword'].setValue('')">
                <mat-icon>close</mat-icon>
            </button>
            <mat-error *ngIf="
                changePasswordFormGroup.controls['newPassword'].touched &&
                changePasswordFormGroup.controls['newPassword'].errors?.['required']
                ">
                New password must have at least 8 characters!
            </mat-error>
        </mat-form-field>

    </div>

    <div class="row d-flex justify-content-center">
        <div class="col d-flex justify-content-center">
            <button mat-flat-button color="primary" class="m-3" style="width: 50%;" (click)="changePassword()"
                id="saveChangePasswordBtn">Change
                password</button>
        </div>
    </div>
</form>