.items-container {
  width: 30%;

  circle {
    cursor: move;
  }
}

.svg-container {
  border: 3px dashed #000;
  background-image: url("https://media.istockphoto.com/photos/seamless-wood-floor-texture-hardwood-floor-texture-picture-id645858422?b=1&k=20&m=645858422&s=170667a&w=0&h=e-3ih4dhufBaP944cecBVTx343UzmOTlFYToOe3SHY8=");
  // width: 60%;
  // height: 40%;
}

// .example-box {
//   width: 50px;
//   height: 50px;
//   border: solid 1px #ccc;
//   color: rgba(0, 0, 0, 0.87);
//   cursor: move;
//   display: inline-flex;
//   justify-content: center;
//   align-items: center;
//   text-align: center;
//   background: #fff;
//   border-radius: 50%;
//   margin-right: 25px;
//   position: absolute;
//   z-index: 1;
//   box-sizing: border-box;
//   padding: 10px;
//   transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
//   box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
//     0 1px 5px 0 rgba(0, 0, 0, 0.12);
// }

// .example-box:active {
//   box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
//     0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
// }

// .example-boundary {
//   width: 400px;
//   height: 400px;
//   max-width: 100%;
//   border: dotted #ccc 2px;
// }
