<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="row p-4 align-items-center">
    <div class="col-8">
        <div class="svg-container" appDroppable [tablesList]="tables" height="100%" width="100%">
            <svg id="dropzone" height="100%" width="100%" viewBox="0 0 700 400">
                <rect height="400" width="150" x="580" y="0" opacity="0.4" />

                <line x1="580" y1="0" x2="580" y2="400" style="stroke:rgb(0, 0, 0);stroke-width:5" />

                <g *ngFor="let table of tables">
                    <circle tableType="old" [attr.tableId]="table.id" [attr.cx]="table.x" [attr.cy]="table.y" r="40"
                        stroke="black" fill="red" draggable="true" style="cursor: move;" />
                    <text [attr.tableId]="table.id" draggable="true" [attr.x]="table.x" [attr.y]="table.y"
                        text-anchor="middle" style="cursor: move; user-select: none;" stroke="#000000"
                        stroke-width="1px" dy=".3em">{{table.id >= 0 ? table.id : ' '}}</text>

                    <image (click)="deleteTable(table.id)" [attr.tableId]="table.id" [attr.x]="table.x+20"
                        [attr.y]="table.y+20" width="20" height="20"
                        href="https://flyclipart.com/thumb2/delete-icon-327000.png"></image>
                </g>

                <circle tableType="new" *ngFor="let e of [].constructor(maxNumberOfTables-tables.length)" cx="640"
                    cy="200" r="40" fill="blue" stroke="black" draggable="true" style="cursor: move;" />
            </svg>
        </div>
    </div>
    <div class="col-4 justify-content-center">
        <div class="card">
            <div class="card-body">
                <h1 class="card-title  text-center">Table organization</h1>
                <p class="card-text">Current number of tables: {{tables.length}}</p>
                <p class="card-text">Tables available to add: {{maxNumberOfTables - tables.length}}</p>
                <div class="row align-items-center justify-content-center">
                    <div class="col-2">
                        <p class="card-text text-right">
                            <button type="button" class="btn btn-primary" [disabled]="currentFloor == 0"
                                (click)="previousFloor()">
                                <i class="fa fa-backward"></i>
                            </button>
                        </p>
                    </div>
                    <div class="col-2">
                        <p class="card-text text-left">Floor: {{currentFloor}}</p>
                    </div>
                    <div class="col-2">
                        <p class="card-text text-left">
                            <button type="button" class="btn btn-primary" [disabled]="currentFloor == numberOfFloors-1"
                                (click)="nextFloor()">
                                <i class="fa fa-forward"></i>
                            </button>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>